<footer class="main-footer">
	<div class="inner-wrap">
		<div class="footer__logo">
			<img src="{{ asset('dist/images/logo.svg') }}" alt="">
		</div>

		<div class="footer-block">
			<p>
				All content &copy; {{ "now"|date('Y') }}
			</p>

			<ul class="menu menu--footer">
				<li>
					<a href="#">Lorem ipsum</a>    
				</li>
				<li>
					<a href="#">Privacy statement</a>   
				</li>
			</ul>

			<a rel="noopener noreferrer" href="#" class="social-link--facebook">
				<span>Facebook</span>
				<svg class="icon icon-facebook">
					<use xlink:href="#icon-facebook" />
				</svg>
			</a>
		</div>
	</div>
</footer>