<header class="header">
    <div class="layout__inner-wrap">
        <a class="skipcontent" href="#content">Skip to contents</a>
        <a href="/" class="logo">
            <img src="{{ asset('dist/images/logo.svg') }}" alt="" data-src="{{ asset('dist/images/logo.svg') }}" />
            <!-- <span>{{ config.get('general/sitename') }}</span> -->
        </a>

        {% include 'partials/_navigation.twig' %}

    </div>
</header>