<header class="main-header">
    <div class="inner-wrap inner-wrap--homeheader">
        <a class="skipcontent" href="#content">Skip to contents</a>
        <a href="/" class="logo">
            <div class="logo-inner">
                <img src="{{ asset('dist/images/logo.svg') }}" alt="" data-src="images/logo.svg" />
            </div>
            <span class="sr-only">MAKEITSO</span>
        </a>
    </div>
</header>