{% setcontent lifeevents = 'life_events' %}
<div>
    <h2 class="sr-only">Life events</h2>
    <ul class="life-events">
    {% for lifeevent in lifeevents %}
        <li>
            <h3><a href="{{ lifeevent.link }}">{{ lifeevent.name ? lifeevent.name : lifeevent.title }}</a>{% include 'partials/_edit-link_sub-item.twig' with { record : lifeevent } %}</h3>
        </li>
    {% endfor %}
    </ul>
</div>