{% extends 'partials/_base.twig' %}

{% block bodyclass %}home overview layout-sidebar{% endblock %}

{% block aside_sidebar_first %}
{% endblock %}

{% block main %}
    <section class="main-content">
        <a id="content" tabindex="0"></a>
        <h1>You installed MAKEITSO on Bolt!</h1>
        <div class="body-content">
            <div class="ui-info ui-info_warning">                
                <p><b>It seems no item is set as the homepage in config.yml or the item can not be found.</b>
                <br>Please check your config.yml 'homepage' setting, create a page in the Bolt backend, or set the frontpage to another type of content.</p>
            </div>
        </div>


        {# START OF MAKEITSO WELCOME: YOU CAN REMOVE THIS FROM THE TEMPLATE AFTER READING #}
        <p><b>You've set MAKEITSO as the theme for this Bolt website! Nice!<br>
        You can view the example pages of this theme in the <code>/dist</code> folder in the <a href="/theme/makeitso/dist/index.html">MAKEITSO theme folder</a>.<br><br>The following example pages are present:</b>
        </p>
        <ul>
            <li>
                <a href="{{ asset('dist/index.html') }}">About MAKEITSO</a>
            </li>
            <li>
                <a href="{{ asset('dist/article.html') }}">Article page example with HTML elements</a>
            </li>
            <li>
                <a href="{{ asset('dist/listing.html') }}">Listing page example</a>
            </li>
            <li>
                <a href="{{ asset('dist/form.html') }}">Form page example</a>
            </li>
        </ul>
        {# END OF MAKEITSO WELCOME: YOU CAN REMOVE THIS FROM THE TEMPLATE AFTER READING #}
    </section>

{% endblock %}

{% block aside_sidebar_second %}
    <aside class="sidebar sidebar-second">

        <div class="contentblock">
            <h2>HTML elements example pages</h2>                    
            <p>The <a href="article.html">article example page</a> contains base HTML elements to show how the base styling looks in this setup.</p>
            <a class="button" href="article.html">article example page</a>
            <p>The <a href="form.html">form example page</a> shows you the default generic styling of a form and form elements. Go check them out.</p>
            <a class="button" href="form.html">form example page</a>
        </div>

    </aside>
{% endblock %}

{% block main_aside_one %}
{% endblock %}
