{% extends 'partials/_base.twig' %}

{% block aside_sidebar_first %}
{% endblock %}

{% block body %}
    <article class="main-content">
        <a id="content" tabindex="0"></a>

        {{ widgets('main_top') }}

        <h1 data-bolt-field="title">{{ record.title }}</h1>

        <div class="body-content">
            {# Output all fields, in the order as defined in the contenttype.
            To change the generated html and configure the options, see:
            https://docs.bolt.cm/templating/fields-tag #}
            {{ fields(template = 'partials/_sub_fields.twig') }}

            {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
            {{ dump(record) }}
            #}
        </div>

        {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %}

    </article>
{% endblock %}

{% block aside_sidebar_second %}
{% endblock %}

{% block main_aside_one %}
{% endblock %}
