/**
 * File:        screen.scss
 * Description: Stylesheet for 'Make it so' base theme
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

@import "base/_base.scss";
@import "base/_normalize.scss";
@import "modules/_overrides.scss";
@import "modules/_defaults.scss";
@import "modules/_animation.scss";
@import "modules/_layout.scss";
@import "modules/_typography.scss";
@import "modules/_general_elements.scss";
@import "modules/_navigation.scss";
@import "modules/_forms.scss";
@import "modules/_search.scss";

// 3rd party
@import "modules/_cycle2.scss";