/**
 * File:        _forms.scss
 * Description: _forms.scss contains all form styles for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

form {
    width:100%;
    margin-bottom: $baseBottomMargin;
}

fieldset {
    margin-bottom: 1.5rem;
}

legend {
    font-size: 1.5rem;
    text-transform:uppercase;
}

label {
    color:$black;
    font-size: 1.25rem;
    display:block;
    font-weight:bold;
}

.required-field {
    color:$red;
    font-size: 0.8rem;
    font-weight:bold;
    margin-left: 0.5rem;
}

input {
    box-sizing: border-box;
    border:1px solid $grey;
    padding: 0.35rem 0.5rem;
    font-size: 1rem;
    margin-bottom:1.5rem;
    width:100%;
    border-radius: 2px;
    &:focus {
        border-color:$black;
    }
    &.error {
        background-color: lighten($red, 53%);
        &:focus {
            background-color:$white;
        }
    }
    &[type="text"] {
        -webkit-appearance: none;
    }
    &[type="search"] {
        -webkit-appearance: none;
    }
    &[type="submit"], button[type="submit"] {
        border:0;
        color:$white; 
        float: left;
        display: block;
        padding: 0.35rem 0.75em;
        line-height: 1.5;
        display:block;
        clear:both;
        width:auto;  
        background-color: $darkGrey;   
        border-radius: 0;
    }
    &[type="radio"] {
        width: auto;
        margin-right:0.25rem;
        display:inline-block;
        margin-bottom:0;
        margin-bottom:0;
        & + label {
            display: inline-block;
            font-size: 1rem;
            margin-right: 1rem;
            font-weight: normal;
            margin-bottom: 1rem;
            position: relative;
            top: 2px;
        }
    }
}

textarea {
    width: 100%;
    min-height: 200px;
    resize: vertical;
    border:1px solid $grey;
    margin-bottom:1.5rem;
    &:focus {
        border-color:$black;
        outline:none;
    }
    &.error {
        background-color: lighten($red, 53%);
        &:focus {
            background-color:$white;
        }
    }
}