/**
 * File:        _forms.scss
 * Description: _forms.scss contains all form styles for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

form {
    width:100%;
    margin-bottom: $baseBottomMargin;
}

legend {
    font-size: 1.5rem;
    text-transform:uppercase;
    margin-bottom: 1.5rem;
}

label {
    color:$black;
    font-size: 1.25rem;
    display:block;
    font-weight:bold;
}

.required-field {
    color:$red;
    font-size: 0.8rem;
    font-weight:bold;
    margin-left: 0.5rem;
}

input {
    box-sizing: border-box;
    border:1px solid $grey;
    padding: 0.35rem 0.5rem;
    font-size: 1rem;
    margin-bottom:1.75rem;
    width:100%;
    border-radius: 3px;
    &:focus {
        border-color:$black;
    }
    &.error {
        background-color: lighten($red, 53%);
        &:focus {
            background-color:$white;
        }
    }
    &[type="submit"] {
        display:block;
        clear:both;
        width:auto;  
        font-weight: bold;     
        color:$black;
    }
    &[type="radio"] {
        width: auto;
        margin-right:0.5rem;
        display:inline-block;
        margin-bottom:0;
        margin-bottom:0;
        & + label {
            display: inline-block;
        }
    }
}