/**
* File:        _layout.scss
* Description: _layout.scss for makeitso
* Author:      Sebastiaan Bonardt - @_sebbon
*/

.layout {
    main, .main {
        // display: grid;
        // grid-template-columns: repeat(12, 1fr);
        // grid-column-gap: 1.25rem;
        // justify-content: center;
    }
    .layout__main {
        // grid-column: 1/-1;
        // grid-row: auto;
        // max-width: $setting-main-centered-max-width;
        // margin: 0 auto;
    }
    .layout__sidebar {
        // grid-column: 1/-1;
        // grid-row: auto;
        // max-width: $setting-main-centered-max-width;
        // margin: 0 auto;
    }
}

.layout--sidebar {
    main, .main {
            @include respond-to(xlarge-screens) {
            display: grid;
            max-width: $site-max-width;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 1.25rem;
            margin: 0 auto;
        }
    }
    .layout__main {
        @include respond-to(xlarge-screens) {
            grid-column: 1/9;
            grid-row: auto;
        }
    }
    .layout__sidebar {
        @include respond-to(xlarge-screens) {
            grid-column: 9/-1;
            grid-row: auto;
        }
    }
}

.layout__inner-wrap {
    //@extend %group;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $site-max-width;
    position:relative;
    @include respond-to(medium-screens) {
        padding: 0 2rem;
    }
    @include respond-to(xlarge-screens) {
        padding: 0 3rem;
    }
    .header > &  {
        padding: 0.625rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond-to(medium-screens) {
            padding: 1rem 2rem;
        }
        @include respond-to(xlarge-screens) {
            padding: 0 3rem;
            justify-content: stretch;
            min-height: 85px;
            align-items: stretch;
            overflow: visible;
        }
    }
    .layout__sidebar & {
        padding: 0;
        @include respond-to(medium-screens) {
            padding: 0
        }
        @include respond-to(xlarge-screens) {
            padding: 0;
        }
    }
}