/**
 * File:        _navigation.scss
 * Description: _navigation.scss for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

.toggle-btn-wrap,
.navigation-toggle {
    @extend .group;
    float:none;
    flex: 0 0 auto;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0 0 0 0.625rem;
    margin-left: auto;
    @include respond-to(xlarge-screens) {
        display: none;
    }
}

.toggle-menu {
    display:none; //the toggle menu button is only shown when js is present
    margin: 0;
    background-color: darken($lightGrey, 4%);
    color: #222;
    border: 1px solid darken($lightGrey, 4%);
    transition: $ui-transition-speed all;
    font-size: 0.875rem;
    &:hover, &:active {
        background-color: darken($lightGrey, 6%);
        border-color: darken($lightGrey, 6%);
    }
    .icon {
        margin-right: 0.5rem;
        position: relative;
        height: 14px;
        width: 16px;
        display: block;
        color: currentColor;
        border-top: 2px solid currentColor;
        transition: 240ms all ease;
        &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: currentColor;
            transition: 250ms all ease-in-out;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: currentColor;
            transition: 350ms all ease-in-out;
        }
    }
    &.toggle-active {
        .icon {
            width: 16px;
            border-color: transparent;
            &:before {
                top: 48%;
                transform: translateY(-50%) rotate(45deg);
            }
            &:after {
                top: 48%;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }
    .js & {
        display: flex;
        align-items: center;
        @include respond-to(xlarge-screens) {
            display:none;
        }
    }
}

nav, .navigation-primary {
    padding-bottom:0.75em;
    width: calc(100% - 2rem);
    position: fixed;
    background-color: $lightGrey;
    opacity: 0;
    transition: $ui-transition-speed all;
    z-index: 0;
    top: 57px;
    margin: 0 -1rem;

    height: 0;
    overflow: hidden;
    @include respond-to(medium-screens) {
        margin: 0 -2rem;
        top: 70px;
    }
    @include respond-to(xlarge-screens) {
        padding-bottom: 0;
        z-index: 1;
        opacity: 1;
        background-color: #fff;
        margin: 0;
        width: 100%;
        width: auto;
        flex: 1 0 auto;
        padding-left: 2rem;
        height: auto;
    }
    @include respond-to(xlarge-screens) {
        top: 0;
        // margin-top: -10px;
        background-color: transparent;
        position: relative;
    }
    .nav-overlay--active & {
        opacity: 1;
        top: 60px;
        width: 100%;
        height: calc(100vh - 60px);
        @include respond-to(xlarge-screens) {
            top: 0;
            position: relative;
        }
        @include respond-to(xlarge-screens) {
            top: 0;
            height: auto;
        }
    }
    .menu {
        width: 100%;
        margin: 0 auto 2rem;
        @include respond-to(xlarge-screens) {
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
        }
        @include respond-to(xlarge-screens) {
            // justify-content: flex-end;
            //padding-left: 225px;
        }
    }
    .layout__inner-wrap {
        padding: 0.625rem 0;
        // position: inherit;
        width: 100%;
        @include respond-to(xlarge-screens) {
            padding: 0.625rem 1.125rem;
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
            align-items: flex-start;
        }
        // @include respond-to(large-screens) {
        //     padding: 0 1.125rem;
        // }
        @include respond-to(xlarge-screens) {
            max-width: $site-max-width;
            //padding: 0 0.625rem;
            margin: 0 auto;
            height: 100%;
        }
    }
    ul {
        padding:0;
        overflow:hidden;
        @include respond-to(xlarge-screens) {
            margin-bottom:0;
        }
        ul {
            @include respond-to(xlarge-screens) {
                display: none;
            }
        }
    }
    li {
        list-style: none;
        a {
            font-family: $baseHeaderFontFamily;
            padding: 0.5rem 1rem; 
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin:0;
            color: $darkGrey;
            // text-transform: uppercase;
            border-bottom: 1px solid transparent;
            transition: $ui-transition-speed all;
            font-size: 0.875rem;
            @include respond-to(medium-screens) {
                padding: 0.5rem 2rem;
            }
            @include respond-to(xlarge-screens) {
                padding: 0;
                margin: 0 1.125rem;
            }
            &:link, &:visited {
                color: $darkGrey;
                text-decoration: none;
            }
            &:hover, &:active, &:focus {
                background-color: $lightGrey;
                @include respond-to(xlarge-screens) {
                    background-color: transparent;
                    color: darken($darkGrey, 10%);
                    border-bottom: 1px solid darken($lightGrey, 20%);
                }
            }
            &.active {
                background-color: $lightGrey;
                font-weight: 800;
                @include respond-to(xlarge-screens) {
                    background-color: transparent;
                    border-bottom: 1px solid darken($lightGrey, 20%);
                }
            }
            &.search__search-toggle {
                display: none;
                @include respond-to(xlarge-screens) {
                    display: flex;
                    position: relative;
                }
                &:hover, &:active, &:focus {
                    .icon {
                        color: darken($darkGrey, 10%);
                        fill: darken($darkGrey, 10%);
                        stroke: darken($darkGrey, 10%);
                    }
                }
                .icon {
                    transition: $ui-transition-speed all;
                    color: $grey;
                    fill: $grey;
                    stroke: $grey;
                }
                &.toggle-active {
                    &:link, &:visited {
                        color: darken($darkGrey, 10%);
                    }
                    .icon {
                        color: darken($darkGrey, 10%);
                        fill: darken($darkGrey, 10%);
                        stroke: darken($darkGrey, 10%);
                        opacity: 0;
                    }
                    .search__search-toggle-inner {
                        opacity: 1;
                    }
                }
            }
        }
        // Bolt sets the active class by default on list items in stead of the links itself
        &.active {
            a {
                &:link, &:visited {
                    background-color: $lightGrey;
                }
            }
        }
    }
    .menu--primary {
        margin-top: 2rem;
        @include respond-to(xlarge-screens) {
            margin: 0;
            width: auto;
            align-self: flex-start;
        }
        li {
            a {
                font-size: 0.875rem;
                @include respond-to(xlarge-screens) {
                    padding-bottom: 1.25rem;
                }
            }
        }
    }
    .menu--secondary {
        @include respond-to(xlarge-screens) {
            margin-bottom: 0.625rem;
            align-self: flex-end;
        }
        li {
            a {
                border-bottom: 1px solid transparent;
                font-size: 0.75rem;
                @include respond-to(xlarge-screens) {
                    padding: 0; 
                }
                &:link, &:visited {
                    color: $grey;
                }
                &:hover, &:active, &:focus {
                    background-color: $lightGrey;
                    @include respond-to(xlarge-screens) {
                        background-color: transparent;
                        color: darken($darkGrey, 10%);
                        //border-bottom: 1px solid currentColor;
                    }
                }
                &.active {
                    background-color: $lightGrey;
                    font-weight: 800;
                    @include respond-to(xlarge-screens) {
                        background-color: transparent;
                        //border-bottom: 1px solid currentColor;
                    }
                }
            }
        }   
    }
}

.menu {
    padding-left: 0;
    li {
        list-style : none;
    }
}

.menu_block {
    margin-bottom: $baseBottomMargin;
}

.secondary-menu, .meta-menu {
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    @include respond-to(medium-screens) {
        float:right;
    }
    @include respond-to(large-screens) {
        position:absolute;
        bottom:0;
        right:0;
        left:auto;
        top:auto;
    }
    li {
        list-style: none;
        float:left;
        a {
            padding:0.5em; 
            display:block; 
        }    
    }
}

.pager {
    list-style: none;
    padding: 0;
    margin-bottom: $baseBottomMargin;
    li {
        padding: 0;
        margin: 0;
        float: left;
        margin: 0 0.25rem 0.25rem 0;
        &.prev, &.next {
            a {
                min-width: 5rem;
            }
        }
    }
    a {
        display: block;
        text-align: center;
        padding: 0.5rem 0.625rem;
        border: 1px solid $lightGrey;
        background-color: $lightGrey;
        min-width: 2.5rem;
        &:link, &:visited {
            text-decoration: none;
            color: $darkGrey;
        }
        &:hover, &:active, &:focus, &.active {
            background-color: $white;
            color: $grey;
        }
    }
}