/**
 * File:        _navigation.scss
 * Description: _navigation.scss contains all navigation styles for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

.toggle-btn-wrap {
    @extend .group;
    float:right;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0 0.625rem;
    .toggleable-menu & {
        overflow:hidden;
        float:none;
        width:100%;
        @include respond-to(medium-screens) {
            float:right;
            width:auto;
        }
    }
}

.toggle-menu {
    float:left;
    display:none;
    margin-right:1em;
    @include respond-to(medium-screens) {
        display:none;
    }
}

.toggle-search {
    float:right;
    display:none;
    @include respond-to(medium-screens) {
        display:none;
    }
}

nav {
    // border-bottom:1px solid $grey;
    padding-bottom:0.75em;
    @include respond-to(medium-screens) {
        padding-bottom: 0;
    }
    .menu {
        float:left;
        width:calc(100% - 80px);
        margin:1rem auto;
        @include respond-to(medium-screens) {
            //width: calc(100% - 290px);
            margin: 0 auto;
        }
    }
    .inner-wrap {
        padding: 0;
        position: inherit;
        @include respond-to(medium-screens) {
            padding: 0 0.625rem;
        }
        @include respond-to(large-screens) {
            padding: 0 1.125rem;
        }
        @include respond-to(large-screens) {
            max-width: $site-max-width;
            //padding: 0 0.625rem;
            margin:0 auto;
        }
    }
    ul {
        padding:0;
        overflow:hidden;
        @include respond-to(medium-screens) {
            margin-bottom:0;
        }
    }
    li {
        list-style: none;
        float: left;
        a {
            padding: 0.5em 0.75em; 
            display:block;
            margin:0;
            color: $darkGrey;
            text-transform: uppercase;
            &:link, &:visited {
                color: $darkGrey;
                text-decoration: none;
            }
            &:hover, &:active, &:focus {
                background-color: $lightGrey;
            }
            &.active {
                background-color: $lightGrey;
            }
            @include respond-to(medium-screens) {
                padding: 0.5rem 1.125rem;
                margin-left: 2px;
            }
        }
    }
    .toggleable-menu & {
        float:left;
        width:100%;
        .menu {
            float:left;
            width:100%;
            // @include respond-to(medium-screens) {
            //     //float:none;
            //     width:calc(100% - 80px);
            // }
            // @include respond-to(large-screens) {
            //     //float:none;
            //     width:calc(100% - 280px);
            // }
        }
        li {
            float:none;  
        }
        @include respond-to(medium-screens) {
            li {
                float:left;
            }
        }
    }
}

.menu {
    margin-bottom: 0;
    padding-left: 0;
    li {
        list-style : none;
    }
}

.menu_block {
    margin-bottom: $baseBottomMargin;
}

.secondary-menu, .meta-menu {
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    @include respond-to(medium-screens) {
        float:right;
    }
    @include respond-to(large-screens) {
        position:absolute;
        bottom:0;
        right:0;
        left:auto;
        top:auto;
    }
    li {
        list-style: none;
        float:left;
        a {
            padding:0.5em; 
            display:block; 
        }    
    }
}

.pager {
    list-style: none;
    padding: 0;
    margin-bottom: $baseBottomMargin;
    li {
        padding: 0;
        margin: 0;
        float: left;
        margin: 0 0.25rem 0.25rem 0;
        &.prev, &.next {
            a {
                min-width: 5rem;
            }
        }
    }
    a {
        display: block;
        text-align: center;
        padding: 0.5rem 0.625rem;
        border: 1px solid $lightGrey;
        background-color: $lightGrey;
        min-width: 2.5rem;
        &:link, &:visited {
            text-decoration: none;
            color: $darkGrey;
        }
        &:hover, &:active, &:focus, &.active {
            background-color: $white;
            color: $grey;
        }
    }
}