/**
 * File:        _search.scss
 * Description: _search.scss for makeitso. The
 *              search block is at the top right of the default page templates
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

// search block styling
.search-block {
    margin: 0 0 0 auto;
    overflow: hidden;
    display: block;
    padding: 0 0.625rem;
    @include respond-to(medium-screens) {
        padding: 0.5rem 2rem;
    }
    @include respond-to(large-screens) {
        padding: 0.25rem 0;
        margin: 0 2rem;
        max-width: 320px;
    }
    @include respond-to(xlarge-screens) {
        max-width: none;
        position: fixed;
        right: 0;
        top: 70px;
        margin: 0;
        height: 0;
        padding: 0;
        display: flex;
        transition: 200ms all ease-in-out;
        z-index: -1;
        opacity: 0;
        background-color: $lightGrey;
    }
    .search-overlay--active & {
        @include respond-to(xlarge-screens) {
            height: 100vh;
            z-index: 1;
            opacity: 1;
        }
    }
    .inner-wrap {
        @include respond-to(xlarge-screens) {
            background-color: $lightGrey;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            padding: 20vh 4rem 0;
            justify-content: center;
        }
    }
    label {
        display: none;
        clear: both;
    }
    [type="submit"] {
        border-left: 0;
        width: 100px;
        clear:none;
        background-color: darken($lightGrey, 5%);
        border: 1px solid darken($lightGrey, 5%);
        color: #222;
        margin: 0;
        font-size: 0.875rem;
        height: 36px;
        display: flex;
        align-items: center;
        @include respond-to(xlarge-screens) {
            height: 44px;
        }
        &:hover, &:active, &:focus {
            background-color: darken($lightGrey, 8%);
        }
    }
    [type="text"], [type="search"] {
        width: calc(100% - 100px);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid darken($lightGrey, 5%);
        appearance: none;
        outline: none;
    }
    input, button {
        float: left;
        width: calc(100% - 71px);
        //padding-left: 0.35rem;
        @include respond-to(xlarge-screens) {
            height: 44px;
        }
    }
    .search_field {
        padding: 0.45rem 0.625rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
        @include respond-to(xlarge-screens) {
            max-width: 400px;
        }
    }
}