/**
 * File:        _search.scss
 * Description: _search.scss contains all search block styles for makeitso. The
 *              search block is at the top right of the default page templates
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

// search block styling
.search-block {
    margin:2rem 0 0;
    overflow:hidden;
    display:block;
    padding: 0 0.625rem;
    @include respond-to(small-screens) {
        float:right;
    }
    @include respond-to(medium-screens) {
        max-width:220px;
        margin-top: 0;
    }
    @include respond-to(large-screens) {
        max-width:320px;
    }
    @include respond-to(xlarge-screens) {
        max-width:none;
        width:27%;
    }
    label {
        display:none;
        clear:both;
    }
    [type="submit"] {
        border-left:0;
        width:90px;
        clear:none;
        background-color:$darkGrey;
        color:$white;
        border-radius: 0 3px 3px 0;
        &:hover, &:active, &:focus {
            background-color: $black;
        }
    }
    [type="text"], [type="search"] {
        width: calc(100% - 90px);
        border-radius:3px 0 0 3px;
        box-sizing: border-box;
    }
    input, button {
        float:left;
        width:calc(100% - 71px);
        padding-left: 0.35em;
    }
    .search_field {
        padding: 0.45em 0.35em;
    }
}
