/**
* File:        _structure.scss
* Description: _structure.scss for makeitso
* Author:      Sebastiaan Bonardt - @_sebbon
*/

/**
* About the Responsive Web Design breakpoints in this setup:
* from base.scss, use small-screens, medium-screens, large-screens, xlarge-screens, wide-screens
* Use them with "respond-to" mixin from base.scss as "@include respond-to(small-screens) {}"
* 
* page setup: body direct descendants are the main wrappers containing direct 
* descendant with .inner-wrap class set to center the content on the page. Used in favor 
* of a general top level wrap all wrapper for markup esthetics sake. 
*
* The design pattern here is that some parts (e.g. header/footer) of the website need a full-width
* background color, but the contents needs to be centered on the page
*
* ! If no full width background-colors are in the design you can remove the inner-wrap div's and
* ! set the $site-max-width on the <body> with margin:0 auto;
*
*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
    padding: 60px 0 0;
    @include respond-to(medium-screens) {
        padding-top: 72px;
    }
    @include respond-to(xlarge-screens) {
        padding-top: 85px;
    }
    // activated overlays classes; make the body not scrollable
    &.nav-overlay--active,
    &.search-overlay--active {
        overflow: hidden;
    }
    > .header, footer, main {
        width: 100%;
        display: block;
        overflow: hidden;
    }
    > footer {

        min-height: 12rem;
        background-color: $lightGrey;
        padding: 2rem 0;
    }
}

.skipcontent {
    background-color: #fff;
    left: -9999px;
    padding: 0.3125em 1em;
    position: absolute;
    padding:1rem;
    display:inline-block;  
    z-index:2;
    font-weight: bolder;
    &:after {
        content: ">>";
        margin-left:0.625rem;
    }
    &:focus {
        left:1.25em;                     
    }
}

.header {
    background-color: $lightGrey;
    padding:0;
    position: fixed;
    top: 0;
    z-index: 1;
    min-height: 60px;
}

main, .main {
    margin: 0;
    > aside, article, section {
        margin-bottom: 2rem;
    }
    > aside {
        padding: 1rem 0;
    }
}

.main-content {
    > :first-child {
        padding-top: 2rem;
    }
}

aside {
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}


.main-wrap {
    @extend %group;
    margin: 0 auto;
    padding: 1rem 0.625rem;
    max-width: $site-max-width;
    position: relative;
}

.logo {
    line-height: 1;
    text-transform: uppercase;
    font-size: 2.15rem;
    font-weight: 600;
    font-family: $baseHeaderFontFamily;
    display: flex;
    align-items: center;
    @include respond-to(midmobile) {
        font-size: 2.5rem;
    }
    @include respond-to(xlarge-screens) {
        font-size: 2.875rem;
        display: flex;
        align-items: center;
    }
    &:link, &:visited {
        //color: #666;
        text-decoration: none;
    }
    &:hover, &:active, &:focus {
        text-decoration: underline;
    }
    &.centered {
        text-align: center;
        @include respond-to(medium-screens) {
            float:none;
        }
        a {
            display:inline-block;
        }
    }
    img {
        width: 80%;
        @include respond-to(medium-screens) {
            width: auto;
        }
    }
}

.site-name {
    display:block;
}

.tagline {
    display: block;
    clear: both;
    font-size: 0.8rem;
    font-weight: 600;
    color: $grey;
}

.breadcrumb {
    margin:1em 0;
}

.footer-logo {
    float: right;
    .logotype {
        // display:none;
        color:$grey;
        text-transform: uppercase;
        font-size: 2rem;
        font-style: italic;
        line-height: 1;
        font-family: $baseHeaderFontFamily;
        font-weight: 800;
    }
}

.footer-block {
    margin-bottom: $baseBottomMargin;
    @include respond-to(medium-screens) {
        float:left;
        width:46%;
        margin-right:2%;
    }
    @include respond-to(large-screens) {
        width:33%;
        padding-right: 2rem;
        margin: 0;
    }
    a {
        font-size: 0.8rem;
        font-weight: 600;
        &:link,
        &:visited {
            color: $grey;
            text-decoration: none;
        }
        &:hover,
        &:active,
        &:focus {
            color: $darkGrey;
        }
    }
}