// The _theme.scss file is where you put all your theming classes that make up the design you want to implement. As a general rule of thumb it's good practice to put a group of style declarations in it's own logical

/*
** Theme specific styles
*/

.inner-wrap {
    main &, .main & {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 1.5rem;
        justify-content: center;
        > * {
            grid-column: 1/-1;
            grid-row: auto;
            @include respond-to(large-screens) {
                grid-column: 2/-2;
            }
            @include respond-to(xlarge-screens) {
                grid-column: 1/-1;
            }
        }
    }
    .layout-sidebar & {
        .main-content {
            @include respond-to(xlarge-screens) {
                grid-column: 1/8;
            }
        }
        .sidebar {
            @include respond-to(xlarge-screens) {
                grid-column: 10/-1;
            }
        }
    }
}

.introduction {
	font-weight: bold;
	font-size: 1rem;
}

.item-teaser {
	margin-bottom: 4rem;
	@extend %group;
	* a {
		&:link, &:visited {
			text-decoration: none;
		}
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
	img {
		float: left;
		display: block;
		margin-right: 2%;
        margin-bottom: 1rem;
        @include respond-to(medium-screens) {
            width: 36%;
            margin-top: 0.45rem;
        }
	}
}
