.body-content > .introduction {
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.7;
}

.teaser {
	a {
		&:link, &:visited {
				text-decoration: none;
		}
		&:hover, &:active, &:focus {

		}
	}
}

