/**
 * File:        _typography.scss
 * Description: _typography.scss contains all text styles for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

/* Split up webfont definitions for weights and styles. Be sure to declare
 * proper fallback fonts for your serif's or non-serifs, and use corresponding
 * font-weights and styles throughout your styles!
 */

// @font-face { 
//     font-family: "yourFont"; 
//     src: url("../path/yourFont.eot"); 
//     src: url("../path/yourFont.eot?#iefix") format("embedded-opentype"),
//     url("../path/yourFont.woff") format("woff"),
//     url("../path/yourFont.svg#yourFont") format("svg"); 
//     font-weight: normal; 
//     font-style: normal;
// } 
// @font-face { 
//     font-family: "yourFontBold"; 
//     src: url("../path/yourFontBold.eot"); 
//     src: url("../path/yourFontBold.eot?#iefix") format("embedded-opentype"),
//     url("../path/yourFontBold.woff") format("woff"),
//     url("../path/yourFontBold.svg#yourFont") format("svg"); 
//     font-weight: bold; 
//     font-style: normal;
// } 
// @font-face { 
//     font-family: "yourFontItalic"; 
//     src: url("../path/yourFontItalic.eot"); 
//     src: url("../path/yourFontItalic.eot?#iefix") format("embedded-opentype"),
//     url("../path/yourFontItalic.woff") format("woff"),
//     url("../path/yourFontItalic.svg#yourFont") format("svg"); 
//     font-weight: normal; 
//     font-style: italic;
// }

body {
    font-size:100%;
    font-family:$baseFontFamily;
    color:$baseFontColour;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    color:$baseFontHeaderColour;
    margin-bottom: 0.625em;
    line-height: 1.25;
    font-weight: 700;
}

h1, .alpha {
    font-size: 2.5rem;
}

h2, .beta {
    font-size: 2rem;
}

h3, .gamma {
    font-size: 1.5rem;
}

h4, .delta {
    font-size: 1.125rem;
}

h5, .epsilon {
    font-size: 1rem;
    font-weight: normal;
}

p, ul, ol, dt, dd, pre, blockquote, table {
    margin:0 0 1.5em 0;
    font-size: 1rem;
}

ul {
    @extend .group;
    padding:0 0 0 1rem;
    margin:0 0 $baseBottomMargin;
    li {
        padding:0;
        margin:0;
    }
    footer & {
        list-style: none;
        padding: 0;
    }
}

ol {
    @extend .group;
    margin:0 0 $baseBottomMargin;
}

li ol, li ul {
    margin-top:0.5em;
}
ol ol li:last-child {
    margin-bottom:0;
}

.stripped {
    padding: 0;
    margin: 0 0 $baseBottomMargin;
    list-style: none;
    li {
        margin: 0;
    }
}

blockquote {
    font-size: 1.5rem;
    padding:1em;
    background-color:$lightGrey;
    display:inline-block;
    clear:both;
    color:$black;
    border-left: solid $darkGrey 3px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: $baseBottomMargin auto;
    @include respond-to(medium-screens) {
        max-width:80%;
        display:block;
    }
    @include respond-to(large-screens) {
        max-width: 65%;
    }
    p {
        margin:0;
        font-size: 1.5rem;
    }
}

a, a:link, a:visited {
    color:$baseLinkColour;
}

a:hover, a:active, a:focus {
    text-decoration:none;
    color: darken($baseLinkColour, 20%);
}

.btn, button {
    background-color: $black;
    border:0;
    color:$white; 
    float: left;
    display: block;
    padding: 0.5rem 0.8125em;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    &:link, &:visited {
        text-decoration:none;
        color:$white; 
    }
    &:hover, &:active, &:focus {
        background-color: $darkGrey;
    }
    &:active {
        top: 1px;
        left: 1px;
        position: relative;
        background-color: $black;
    }
}

.teaser {
    a {
        &:link, &:visited {
            text-decoration: none;
            h1 {
                text-decoration: underline;
            }
        }
        &:hover, &:active, &:focus {
            h1 {
                text-decoration: none;
            }
        }
    }
}

mark {
    background-color: $highlightColour;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  margin-bottom: $baseBottomMargin;
  caption {
    text-align: center;
    border-bottom: 1px solid $grey;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
  }
}

