/**
 * File:        _base.scss
 * Description: This base file contains all project VARIABLES and (custom) mixins 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

 /**
 * WEBSITE SETTINGS. Change these as desired:
 */
$baseFontFamily: "Droid Sans", Arial, Sans-serif;
$baseHeaderFontFamily: "Droid Sans", Arial, Sans-serif; //check your typography.scss for webfonts
$baseBottomMargin: 2.5rem;

/* Theme colors */
$baseFontColour:#222;
$baseFontHeaderColour:#333;
$baseLinkColour:#4a90e2;
$baseFirstThemeColour:#ccc; //this colour is "Colour name 'e.g. Pink'" the main theme colour used in
$baseSecondThemeColour:#eee; //this colour is the secondary theme colour used in


/* Generic helper colours */
$errorColour: #e32118;
$succesColour: #5CC65C;
$informationColour: #A4CAF6;
$noticeColour: #fffbde; 
$black: #222;
$darkGrey: #666;
$grey: #999;
$lightGrey: #eee;
$white: #fff;
$red: #f00;


/* Media Query Breakpoints */
$break-small: (481/16); //481px
$break-medium:(600/16); //768px
$break-large:(768/16); //768px
$break-xlarge:(960/16); //1024px
$break-wide: (1600/16); //1200px

$site-max-width:74em; // insert your sane value here

/* 
 * Mixin: Breakpoints handling RWD including Old-IE (lte IE98)
*/
$old-ie: false !default;

@mixin respond-to($media) {
    @if $media == small-screens {
        @if $old-ie {
            @if $fix-mqs >= $break-small { 
                @content
            }
        }
        @else {
            @media only screen and (min-width: $break-small + 'em') { 
               @content;
            }
        }      
    } 
    @if $media == medium-screens {
        @if $old-ie {
            @if $fix-mqs >= $break-medium { 
                @content
            }
        }
        @else {
            @media only screen and (min-width: $break-medium + 'em') { 
               @content;
            }
        }      
    } 
    @if $media == large-screens {
        @if $old-ie {
            @if $fix-mqs >= $break-large { 
                @support@esteon.comcontent
            }
        }
        @else {
            @media only screen and (min-width: $break-large + 'em') { 
               @content;
            }
        }      
    } 
    @if $media == xlarge-screens {
        @if $old-ie {
            @if $fix-mqs >= $break-xlarge { 
                @content
            }
        }
        @else {
            @media only screen and (min-width: $break-xlarge + 'em') { 
               @content;
            }
        }      
    }  
    @if $media == wide-screens {
        @if $old-ie {
            // en groter of gelijk aan breekpunt, dan gewone css output. dit is voor oude browsers (oldie)
            @if $fix-mqs >= $break-wide { 
                @content
            }
        }
        @else {
            @media only screen and (min-width: $break-wide + 'em') { 
               @content;
            }
        }      
    }  
}


/* 
 * Mixin: Old IE. Only print this for Old-ie stylesheet
*/
$old-ie: false !default;
@mixin old-ie {
    // Only use this content if we're dealing with old IE
    @if $old-ie {
        @content;
    }
}


/* 
 * Mixin: Font size rem and px mixin
*/
@mixin font-size($size: 1, $line: $size * 1.5) {
  @if $old-ie {
    font-size     : ($size * 16) + px;
    line-height   : ($line * 16) + px;
  }
  @else {
    font-size     : $size + rem;
    line-height   : $line + rem;
  }
}


/* 
 * Mixin: Header font size rem and px mixin
*/
@mixin header-font-size($size: 1, $line: $size * 1.2) {
  @if $old-ie {
    font-size     : ($size * 16) + px;
    line-height   : ($line * 16) + px;
  }
  @else {
    font-size     : $size + rem;
    line-height   : $line + rem;
  }
}


/*
 * Mixin: REM to Px
*/
@function remToPx($number) {
  @if $old-ie {
    $number: $number * 16;
    @return #{$number}px;
  }
  @else {
    @return #{$number}rem;
  }
}


/* 
 * Mixin: Linear gradient 
*/
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left, right, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(left, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(left, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(left, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(left, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

/* Mixin: Background retina image
 * set one background image for both retina, normal and IE screens without issues.
 * use as: @include background-image(spritename, 0  0, 500px 1500px);
 * save images sprite twice the size, set the $size to half e.g. sprite img dimensions: 1000 x 1000, size 500 x 500
 * for retina able browsers background-size values are added
*/
@mixin background-retina-image($name, $pos, $size, $background-color) {
    @if $old-ie == false { 
        background: url(../img/#{$name}.png) $pos  no-repeat $background-color;
        background-size: $size;
    }        
    @if $old-ie {
        background: url(../img/#{$name}-oldie.png) $pos  no-repeat $background-color;
    }
}

%clearfix, %group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
