/**
 * File:        _base.scss
 * Description: This base file contains all project VARIABLES, MIXINS and EXTENDS 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

// WEBSITE SETTINGS. Change these as desired:
$baseFontFamily: 'Montserrat', "Droid Sans", Arial, Sans-serif;
$baseHeaderFontFamily: 'Montserrat', "Droid Sans", Arial, Sans-serif; //check your typography.scss for webfonts

$baseBottomMargin: 2.5rem;

// Theme colors
$baseFontColour:#222;
$baseFontHeaderColour:#333;
$baseLinkColour:#31708f;
$baseFirstThemeColour:#ccc; //this colour is "Colour name 'e.g. Pink'" the main theme colour used in
$baseSecondThemeColour:#eee; //this colour is the secondary theme colour used in

// Generic helper colours
$black: #222;
$darkGrey: #555;
$grey: #999;
$lightGrey: #f9f9f9;
$white: #fff;
$offWhite: #fefefe;
$red: #f00;
$highlightColour: $baseLinkColour;

// UI colours
$errorTextColour: #a94442;
$errorBackgroundColour:#faeded;
$errorBorderColour: darken($errorBackgroundColour, 10%);
$successTextColour: #3c763d;
$successBackgroundColour: #dff0d8;
$successBorderColour: darken($successBackgroundColour, 5%);
$informationTextColour: #31708f;
$informationBackgroundColour: #d9edf7;
$informationBorderColour: darken($informationBackgroundColour, 5%);
$warningTextColour: #8a6d3b;
$warningBackgroundColour: #fcf8e3;
$warningBorderColour: darken($warningBackgroundColour, 5%); 

// Media Query Breakpoints
$break-midmobile: 370; //370px = 2rem
$break-small: 481; //481px
$break-medium: 600; //600px
$break-large: 768; //700px custom break at 700 for the tabs between generic iupad break and 600
$break-xlarge: 960; //1024px
$break-wide: 1280; //1200px
$break-xwide: 1400; //1400px
$break-xxwide: 1600; //1600px
$break-r-u-insane: 1840; //1840px

$site-max-width:80rem;
$setting-main-centered-max-width: 44rem;