body {
    > header {
        background-color: $lightGrey;
        @include respond-to(medium-screens) {
            background-color: transparent;
        }
    }
    > footer {
        background-color:$darkGrey;
    }
}

.teaser {
	a {
		&:link, &:visited {
			text-decoration: none;
		}
		&:hover, &:active, &:focus {
            text-decoration: underline;
		}
	}
}

ul.footer-block {
    list-style: none;
    padding: 0;
}